.count {
  display: flex;
  gap: 24px;
}

.box {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 10px 22px;
  border: 1px solid black;
  cursor: pointer;
}

.selected-box {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 10px 22px;
  border: 1px solid black;
  cursor: pointer;
  background: black;
  color: white;
}
